.rectanglevert {
    width: 200px;
    height: 100%;
    background-color: #aad0b0;
    border: 1px solid black;
}

.retanglevertfooter {
    width: 80%;
    height: 100%;
    background-color: #aad0b0;
    border: 1px solid black;
}